code {
  background-color: #f7f7f7;
  font-size: 0.9rem !important;
  display: inline;
  width: 100%;
}

pre {
  white-space: pre-wrap;
  background-color: #f7f7f7;
  display: inline-block;
}

img {
  max-width: 100%;
}
